*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #7C99AC;
    color: #fff;
    height: 100px;
}

.pocetak{
    padding-top: 40px;
    padding-left: 300px;
}

.header .link{
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    padding: 10px;
    transition: 0.5s;
}

.header .link:hover{
    font-size: 30px;
}

.test  {
    padding-left: 700px;
}

.test .link{
    margin-right: 15px;
    padding: 10px;
}

@media only screen and (min-width: 10px)and (max-width: 768px) {
    .test  {
        padding-left: 0px;
        font-size: smaller;
        font-size:15px;
    }
    .pocetak{
        padding-left: 0px;
        font-size: 0px;
    }
    .header{
        background-color: #7C99AC;
        color: #fff;
        height: 250px;
    }
    .link{
        margin-left: 20%;
        display: block;
    }
}

@media only screen and (min-width: 768px)and (max-width: 1040px) {
    .test  {
        padding-left: 0px;
    }
    .pocetak{
        padding-left: 0px;
    }
}

@media only screen and (min-width: 1040px) and (max-width: 1200px) {
    .test  {
        padding-left: 75px;
    }
    .pocetak{
        padding-left: 75px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 50000px) {
    .test  {
        padding-left: 300px;
    }
    .pocetak{
        padding-left: 100px;
    }
}

.dobrodosli .p1{
    padding-top: 25px;
    font-size: 60px;
    text-align: center;
}

.dobrodosli .p2{
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.sveslike{
    list-style: none;
}

.sveslike img{
    list-style: none;
    padding-top: 15px;
    height: 20%;
    width: 20%;
    display: inline-block;
}