*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #7C99AC;
    color: #fff;
    height: 100px;
}

.pocetak{
    padding-top: 40px;
    padding-left: 300px;
}

.header .link{
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    padding: 10px;
    transition: 0.5s;
}

.header .link:hover{
    font-size: 30px;
}

.test  {
    padding-left: 700px;
}

.test .link{
    margin-right: 15px;
    padding: 10px;
}