*{
    margin: 0;
    padding: 0;
}

.main-menu{
    list-style: none;
}

.header .main-menu li a{
    color: #787374;
    text-transform: uppercase;
}

.header .main-menu li{
    display: inline-block;
    margin-left: 15px;
}

.header .preheader li{
    font-size:1.1cm;
    background-color: #26e60d;
    list-style: none;
    text-align: center;
}

.header .preheader2 li{
    font-size:1.1cm;
    background-color: #e60d0d;
    list-style: none;
    text-align: center;
}

.slika{
    padding-top: 25px;
    text-align: center;
}

.slika img{
    height: 360px;
    width: 540px;
}

.opis{
    padding-top: 25px;
    text-align: center;
    font-size:0.7cm;
    list-style: none;
    text-align: center;
    color: #000000;
}
.dugme{
    font-size: 30px;
    text-align:center ;
    margin-top: 10px;
    margin-left: 25%;
    display: inline-block;
    padding: 25px;
    background-color: #7C99AC;
    color:white;
    text-decoration: none;
    transition:0.3s;
    border: 1px solid #7C99AC;
    width: auto;
}

.dugme:hover{
    margin-left: 25%;
    font-size: 30px;
    text-align:center ;
    display: inline-block;
    padding: 25px;
    background-color:white;
    color:#7C99AC;
    text-decoration: none;
    width: auto;
    margin-top: 10px;
    border: 1px solid #7C99AC;
}

@media only screen and (min-width: 10px)and (max-width: 768px) {
    .dugme{
        margin-left: 10%;
        display: block;
        font-size: 25px;
    }
    
    .dugme:hover{
        margin-left: 10%;
        display: block; 
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .dugme{
        margin-left: 18%;
        font-size: 30px;
    }
    
    .dugme:hover{
        margin-left: 18%;
        font-size: 30px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .dugme{
        margin-left: 20%;
        font-size: 30px;
    }
    
    .dugme:hover{
        margin-left: 20%;
        font-size: 30px;
    }
}

.glavno .naslov{
    padding-top: 25px;
    font-size: 60px;
    text-align: center;
}

.glavno .pod{
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}


.slikadugme{
    padding-top: 15px;
    height: 700px;
    width: 700px;
    padding-left: 150px;
}